/* STYLE */
body{
	font-family: 'Open Sans', sans-serif;
	overflow:hidden;
	color:#333;
}

h1{
	font-size: 50px;line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 12px;
}
h2{
	font-size: 22px;line-height: 1.4em;
	font-weight: 300;
}

#shell{
	overflow:scroll;
	overflow-x:hidden;
	position: fixed;
	z-index: 1;
	top: 0;bottom: 0;left: 0;right: 0;

	background-color: #333;
}
.frame{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;	
}
.frame-content{
	width: 100%;
	height: 100%;	
}
.frame-content .tex{
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
}
.frame-content,
.frame-content .tex{
	background-image: url('../img/tex.png');
	background-attachment:fixed;
}
.frame-content .blueprint-tex{
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	background-image: url('../img/blueprint-tex.png');
	background-attachment:fixed;
}


/* Frames Common *******************/

.wrap,
.wrap-centered{
	max-width: 1358px;
	width:92%;
}
.wrap{
	margin: 0 auto;
}


.wrap-centered{
	position: absolute;z-index: 11;
	top: 50%;left:50%;
	
	margin-top:-100px;
	margin-left:-679px;
	text-align: center;
}

.slide{
	margin:0 65px;
	position:relative;
	overflow: hidden;
	height:440px;
}
.slide .slw{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;left: 100%;
}
.slide .slw.current{
	left: 0;
}
.slide .slw img{
	display: block;
	width:auto;height: auto;
	max-width: 100%;
	margin: 0 auto 10px;
}
.slide-arrow{
	position: absolute;
	top:50%; margin-top:-56px;
	width:48px;height: 112px;
	background: url('../img/arrows.png') 0 0 no-repeat;
	cursor:pointer;
}
.slide-arrow.to-left{
	left:0;
}
.slide-arrow.to-right{
	right:0;
	background-position: -48px 0;
}

.slide-nav{
	position: absolute;
	left:20px;right:20px;
	bottom:-26px;
	text-align: center;
}
.slide-nav span{
	display: inline-block;
	width: 16px;height: 16px;
	border-radius: 10px;
	border:solid 2px #666;
	margin: 0 2px;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	-ms-transition: background-color .3s;
	transition: background-color .3s;
}
.slide-nav span.current{
	background-color: #666;
	cursor: default;
}


/************************************************/
#home .frame-content{
	background-color: #FFF;
}
#home h2{
	color: #666;
	font-size: 32px;line-height: 1.4em;
}








#what .frame-content{
	background-color: #003060;
}
#what h1{
	color: #EEE;
}
#what h2{
	color: #AAA;
}



#slide-what{	
	background-color: #003060;
}
#slide-what .slw-col{
	float: left;
	width: 33.33333333%;
	padding: 20px 68px 0;
}
#slide-what .slw .slw-col img{
	margin-bottom: 36px;
}
#slide-what .slw-col p{
	color: #BBB;
	font-size: 20px;line-height: 1.2em;
	font-weight: 300;
}




















#examples .frame-content{
	background-color: #aeaeae;
}
#about .frame-content{
	background-color: #d9d9d9;
}





#prop .frame-content{
	background-color: #f2f2f2;
	overflow-y: scroll;
}

.prop-header{
	text-align: center;
	padding-top: 160px;
	margin-bottom: 30px;
}

.prop-paper{
	max-width: 630px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	margin-bottom: 60px;
	padding: 60px 88px;
}